#navbar{
	background-color:#65aabc;
	width:100%;
	height:7%;
	top:0%;
	position:fixed;
	right:0%;
	z-index:100;
}

.fa-home{
	font-size:32px;
	top:7px;
	left:7px;
	position:absolute;
	color: white;
}

.text1 {
	font-size:20px;
	margin-left:50px;
	margin-top:0px;
	position:relative;
	color:white;
	display: block;
	padding:10px 40px;
	text-decoration: none;
}

li {
	float:left;
}

.text2 {
	font-size:20px;
	margin-left:0px;
	position:relative;
	margin-top:0px;
	color:white;
	display: block;
	padding:10px 40px;
	text-decoration: none;
}

.text1:hover, .text2:hover, .text3:hover, .text4:hover{
	background-color:#c0cccf;
}

.text3{
	font-size:20px;
	margin-left:0px;
	position:relative;
	margin-top:0px;
	color:white;
	display: block;
	padding:10px 40px;
	text-decoration: none;
}

.text1:active, .text2:active {
	background-color:black;
}

#kotakregis{
	border:3px solid black;
	width:80px;
	height:20px;
	top:6px;
	right:156px;
	position:absolute;
	padding: 4px 11px;
	color:black;
	font-size:17px;
	border-radius:4px;
}


#line {
	border-left:2px solid black;
	height:25px;
	position:absolute;
	top:12px;
	left:1206px;
}

#kotaklogin{
	width:75px;
	height:20px;
	top:14px;
	right:28px;
	position:absolute;
	color:white;
	padding-left:25px;
}

#login{
	text-decoration: none;
	outline: none;
	font-size:17px;
	color:white;		
}

.fa-user{
	font-size:17px;
	color:white;
	left:0px;
	position:absolute;
}

#login:hover, .fa-user:hover{
	color:black;
}

.judul {
	font-size:60px;
	text-align:center;
	left:422px;
	font-family:Palatino Linotype;
	margin-top:35px;
	position:absolute;
	color:#171a52;
}

#kotak {
	width:72%;
	height:78%;
	top:20%;
	margin-left:192px;
	position:absolute;
	background-color:white;
	border-radius:45px;
	animation-name: kotakbesar;
	animation-duration: 3s;
	animation-iteration-count: alternate;
}

@keyframes kotakbesar {
	0%{top: 65%;}
 	100% {top: 20%;}
} /*Untuk animasi gerakan pada form regitrasi dari bawah ke atas pada website*/


#fotoreg {
	width:380px;
	height:300px;
	left:530px;
	position:absolute;
	top:120px;
}

.welcome {
	left:60px;
	font-size:40px;
	font-family:Arial;
	color:#65aabc;
	position:relative;
	margin-top:15px;
}

.akun {
	font-size:19px;
	top:40px;
	color:black;
	left: 60px;
	position:absolute;
	font-family:Arial;
}

.fullname, .gender, .age, .profession, .domicile, .city, .email{
	font-size:15px;
	position:absolute;
	font-family:Arial;
}

.fullname {
	top:80px;
	left: 60px;
}

#inputnama {
	width:28%;
	height:20px;
	outline: none;
	position:absolute;
	font-size:14px;
	font-family:Arial;
	left:170px;
	top:90px;
}

.gender {
	top:125px;
	left:60px;
}

#opgender {
	top:135px;
	left:170px;
	width:281px;
	height:26px;
	font-size:14px;
	position:absolute;
	font-family:Arial;
	outline:none;
}

.age {
	top:170px;
	left:60px;
}

#inputage {
	width:2%;
	height:20px;
	outline: none;
	position:absolute;
	font-size:14px;
	font-family:Arial;
	top:180px;
	left:170px;
}

.years {
	top:170px;
	left:210px;
	position:absolute;
	font-size:14px;
	font-family:Arial;
}

.password {
	top:215px;
	left:60px;
	position:absolute;
	font-size:14px;
	font-family:Arial;
}

#password {
	width:28%;
	height:20px;
	outline: none;
	position:absolute;
	font-size:14px;
	font-family:Arial;
	top:225px;
	left:170px;
}

.profession {
	top:255px;
	left:60px;
}

#inprofession {
	width:28%;
	height:20px;
	outline: none;
	position:absolute;
	font-size:14px;
	font-family:Arial;
	top:265px;
	left:170px;
}

.domicile {
	top:300px;
	left:60px;
}

#opdomicile {
	top:310px;
	left:170px;
	font-size:14px;
	position:absolute;
	font-family:Arial;
	outline:none;
	resize:none;
}

.email {
	top:390px;
	left:60px;
}

#inemail {
	width:28%;
	height:20px;
	outline: none;
	position:absolute;
	font-size:14px;
	font-family:Arial;
	top:400px;
	left:170px;
}

#register{
	top:425px;
	position:absolute; 
	left:315px;
	background-color:#171a52;
	border-radius:8px;
	padding: 4px 35px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 18px;
	color:white;
	margin: 4px 2px;
	cursor: pointer;
	outline:none;
	border:none;
}

#register:hover{
	background-color:orange; 
	color:black;
}

#register:active{
	background-color:#65aabc; 
	color:white;
}

#cancel {
	top:425px;
	position:absolute; 
	left:165px;
	background-color:#e0e3e4;
	border-radius:8px;
	padding: 4px 35px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 18px;
	color:black;
	margin: 4px 2px;
	cursor: pointer;
	outline:none;
	border:0px;
}

#cancel:hover{
	background-color:#edf1f3;
}

#cancel:active{
	background-color:#e0e3e4;
}

.signin {
	font-size:12px;
	left:220px;
	top:450px;
	position:absolute;
	font-family:arial;
}
.fa-facebook-f {
	color:white;
	font-size:15px;
	right:680px;
	top:52%;
	position:absolute;
}

.fa-twitter {
	color:white;
	font-size:15px;
	right:630px;
	top:53%;
	position:absolute;
}

.fa-instagram {
	color:white;
	font-size:17px;
	right:655px;
	top:50%;
	position:absolute;
}

.copy{
	color:white; 
	font-size:11px;
	text-align:center;
	top:-4px;
	left:560px;
	position:absolute;
}

.fa-copyright{
	color:white;
	font-size:12px;
}
